<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="it.costanza.LiLo.mybatis.mappers.ModuleDayHostMapper">

	<resultMap id="BaseResultMap" type="it.costanza.LiLo.bean.NavigatorElement">
		<id column="ID_MODULE_CLUSTER" property="idModuleCluster" jdbcType="INTEGER" />
		<result column="ID_MODULE" property="idModule" jdbcType="INTEGER" />
		<result column="ID_MODULE_TYPE" property="idModuleType"
			jdbcType="INTEGER" />
		<result column="ID_USER" property="idUser" jdbcType="VARCHAR" />
		<result column="DATE_DAYHOST" property="dateDay" jdbcType="VARCHAR" />
	</resultMap>


	<resultMap id="DayHostBaseResultMap" type="it.costanza.LiLo.bean.ModuleDayHost">
		<id column="ID_MODULE_CLUSTER" property="idModuleCluster" jdbcType="INTEGER" />
		<result column="ID_MODULE" property="idModule" jdbcType="INTEGER" />
		<result column="ID_MODULE_TYPE" property="idModuleType"
			jdbcType="INTEGER" />
		<result column="ID_USER" property="idUser" jdbcType="VARCHAR" />
		<result column="DATE_DAYHOST" property="dateDayHost" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ID_MODULE_CLUSTER,ID_MODULE,ID_MODULE_TYPE,ID_USER,DATE_DAYHOST
	</sql>


	<select id="selectListDayHostInDateRange" resultMap="BaseResultMap"
		parameterType="it.costanza.LiLo.bean.NavigatorSearch">
		select ca.date as DATE_DAYHOST,dh.id_module as ID_MODULE
		,dh.id_module_cluster as ID_MODULE_CLUSTER from CALENDAR ca
		left
		join
		MODULES_DAYHOST dh on ca.date = dh.date_dayhost and dh.id_user =
		#{idUser,jdbcType=INTEGER}
		where ca.date <![CDATA[ >= ]]>
		#{dateStart,jdbcType=DATE}
		and ca.date <![CDATA[ <= ]]>
		#{dateEnd,jdbcType=DATE}
	</select>


	<select id="selectRandomDayHost" resultMap="DayHostBaseResultMap"
		parameterType="it.costanza.LiLo.bean.ModuleDayHost">
		SELECT
		<include refid="Base_Column_List" />
		FROM MODULES_DAYHOST
		WHERE ID_USER = #{idUser,jdbcType=INTEGER}
		ORDER BY
		RAND()
		LIMIT 1;
	</select>

	<select id="selectListDayHostCriteria" resultMap="DayHostBaseResultMap"
		parameterType="it.costanza.LiLo.bean.ModuleFinder">
		SELECT
		DISTINCT DH.ID_MODULE_CLUSTER, DH.DATE_DAYHOST
		FROM MODULES_DAYHOST DH
		<if test="idModuleType != -1 and containedText == '%%'">
			, MODULES_CLUSTER MC
		</if>
		<if test="containedText != '%%'">
			, MODULES_TEXT MT , MODULES_CLUSTER MC
		</if>
		WHERE DH.ID_USER = #{idUser,jdbcType=INTEGER}
		<if test="idModuleType != -1 or containedText != '%%'">
			AND MC.ID_MODULE_CLUSTER = DH.ID_MODULE_CLUSTER
		</if>
		<if test="idModuleType != -1">
			AND MC.ID_MODULE_TYPE = #{idModuleType,jdbcType=INTEGER}
		</if>
		<if test="startDateDt != null">
			AND DH.DATE_DAYHOST <![CDATA[ >= ]]>
			#{startDateDt,jdbcType=DATE}
		</if>
		<if test="endDateDt != null">
			AND DH.DATE_DAYHOST <![CDATA[ <= ]]>
			#{endDateDt,jdbcType=DATE}
		</if>
		<if test="containedText != '%%'">
			AND MC.ID_MODULE = MT.ID_MODULE
			AND MT.TEXT_1_VALUE like #{containedText,jdbcType=VARCHAR}
		</if>
		ORDER BY DH.DATE_DAYHOST ASC
		
	</select>
	
	
		<select id="selectMostRecentDayHost" resultMap="DayHostBaseResultMap"
		parameterType="it.costanza.LiLo.bean.ModuleDayHost">
		SELECT
		<include refid="Base_Column_List" />
		FROM MODULES_DAYHOST A
		WHERE A.DATE_DAYHOST = 
		(SELECT MAX(B.DATE_DAYHOST) FROM MODULES_DAYHOST B WHERE B.ID_USER = #{idUser,jdbcType=INTEGER})
		AND A.ID_USER = #{idUser,jdbcType=INTEGER};
	</select>
	
	


</mapper>