<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="it.lifelog.mybatis.mappers.CalendarMapper" >
  <resultMap id="BaseResultMap" type="it.lifelog.mybatis.bean.Calendar" >
    <id column="DATE" property="date" jdbcType="DATE" />
    <result column="DAY_OF_WEEK" property="dayOfWeek" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DATE, DAY_OF_WEEK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.util.Date" >
    select 
    <include refid="Base_Column_List" />
    from CALENDAR
    where DATE = #{date,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.Date" >
    delete from CALENDAR
    where DATE = #{date,jdbcType=DATE}
  </delete>
  <insert id="insert" parameterType="it.lifelog.mybatis.bean.Calendar" >
    insert into CALENDAR (DATE, DAY_OF_WEEK)
    values (#{date,jdbcType=DATE}, #{dayOfWeek,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="it.lifelog.mybatis.bean.Calendar" >
    insert into CALENDAR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="date != null" >
        DATE,
      </if>
      <if test="dayOfWeek != null" >
        DAY_OF_WEEK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="dayOfWeek != null" >
        #{dayOfWeek,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="it.lifelog.mybatis.bean.Calendar" >
    update CALENDAR
    <set >
      <if test="dayOfWeek != null" >
        DAY_OF_WEEK = #{dayOfWeek,jdbcType=VARCHAR},
      </if>
    </set>
    where DATE = #{date,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="it.lifelog.mybatis.bean.Calendar" >
    update CALENDAR
    set DAY_OF_WEEK = #{dayOfWeek,jdbcType=VARCHAR}
    where DATE = #{date,jdbcType=DATE}
  </update>
</mapper>