<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="it.lifelog.mybatis.mappers.ListElementMapper">


	<select id="selectByUser" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from LIST_ELEMENTS
		where ID_USER = #{idUser,jdbcType=INTEGER}
	</select>

	<select id="selectByType" resultMap="BaseResultMap"
		parameterType="it.lifelog.mybatis.bean.ListElement">
		select
		<include refid="Base_Column_List" />
		from LIST_ELEMENTS
		where TYPE = #{idUser,jdbcType=INTEGER}
	</select>

	<select id="selectByUserAndType" resultMap="BaseResultMap"
		parameterType="it.lifelog.mybatis.bean.ListElement">
		select
		<include refid="Base_Column_List" />
		from LIST_ELEMENTS
		where TYPE = #{type,jdbcType=INTEGER}
		AND ID_USER =
		#{idUser,jdbcType=VARCHAR}
	</select>

	<select id="selectByMultipleId" resultMap="BaseResultMap" parameterType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from LIST_ELEMENTS
		where ID_ELEMENT IN
		<foreach item="idElement" index="index" collection="list"
			open="(" separator="," close=")">
			#{idElement,jdbcType=INTEGER}
		</foreach>
	</select>

</mapper>